img {
    width: 10%;
    height: 2%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px #fff;
    transition: all 0.3s ease-in-out;
}